body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

#chat {
  height: 300px;
  width: 90%;
  margin: 10px auto;
  background: #020617;
  overflow-y: auto;
  padding: 10px;
  border-radius: 6px;
}

input {
  width: 70%;
  padding: 8px;
}

button {
  padding: 8px 12px;
}

#typing {
  font-size: 12px;
  color: #38bdf8;
}
